*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Jost", sans-serif;
}

:root{
    --bg1: #111111;
    --bg2: #191919;
    --custom-font-color: #999999;
    --custom-gradient: linear-gradient(45deg,#576cdd,#55afd5);
}

/* HEADER */

nav .nav-item{
    font-size: 16px;
}
nav .icon-li{
    margin-left: 40px;
    margin-right: 20px;
}
nav .icon-li i{
    font-size: 22px;
}
.rocket-icon{
    color: white;
}
nav a:hover{
    color: transparent!important;
    background-image: var(--custom-gradient);
    background-clip: text;
}
header li:last-child{
    border: 2px solid #5758e0;
    color: white;
    padding: 10px;
}
header li:last-child:hover{
    background-image: var(--custom-gradient);
}
.ri-rocket-2-line{
    margin-right: 5px;
}

/* BANNER */

.banner{
    background-image: linear-gradient(rgb(0, 0, 0,0.8),rgb(0, 0, 0,0.8)),url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.banner-content{
    padding-top: 60px;
}
.banner h2{
    font-size: 75px;
    color: transparent;
    background-image: var(--custom-gradient);
    background-clip: text;
    font-weight: 800;
}
.banner p{
    font-size: 26px;
    color: var(--custom-font-color);
    margin-bottom: 50px;
    max-width: 1100px;    /*media work*/
}
.banner-content a{
    border: 2px solid #5758e0;
    color: white;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg,#576cdd,#4058e0);
}
.banner-content a:hover{
    background-image: var(--custom-gradient) ;
}


/* SERVICE */

.service{
    background-color: var(--bg1);
    padding: 90px 0;   
}
.service .service-item{
    height: 310px;
    width: 360px;
    background-color: var(--bg2);
    margin-top: 30px;
    transition: 0.2s;
}
.service .container{
    position: relative;
    z-index: 0;
}
.service .service-item a{
    text-decoration: none;
}
.service-item h2{
    color: white;
    font-size: 28px;
}
.service-item p{
    color: var(--custom-font-color);
    font-size: 20px;
}
.service-icon{
    background-image: var(--custom-gradient);
    color: transparent;
    background-clip: text;
    font-size: 40px;
    line-height: 110px;
}
.ri-arrow-right-circle-line{
    color: white;
    font-size: 40px;
    
}
.service-item:hover{
    background-image: var(--custom-gradient);
    transform: translateY(-50px);
   
}
.service-item:hover .service-icon , .service-item h2 , .service-item p{
    color: white;
}

.first:before{
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
    transform: translate(-8px,10px);
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    content: '';
}
.first:hover:before{
    display: none;
    
}

.last:after{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    right: 0px;
    transform: translate(10px,20px);
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    content: '';
}
.last:hover:after{
    opacity: 0;
}
