*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

:root{
    --bg1: #111111;
    --bg2: #191919;
    --custom-font-color: #999999;
    --custom-gradient: linear-gradient(45deg,#576cdd,#55afd5);
}

.generic-section-type-1{
    background-color: var(--bg1);
    padding: 40px 0;
}
.generic-section-type-2{
    background-color: var(--bg2);
    padding: 40px 0;
}
.gradient-span{
    height: 5px;
    width: 50px;
    display: inline-block;
    background-image: var(--custom-gradient);
}
.sub-text-p{
    color: var(--custom-font-color);
    font-size: 20px;
    font-weight: 300;
}
.common-h2{
    font-size: 44px;
}

/* HEADER */

nav .nav-item{
    font-size: 16px;
}
nav .icon-li{
    margin-left: 40px;
    margin-right: 20px;
}
nav .icon-li i{
    font-size: 22px;
}
.rocket-icon{
    color: white;
}
nav a:hover{
    color: transparent!important;
    background-image: var(--custom-gradient);
    background-clip: text;
}
header li:last-child{
    border: 2px solid #5758e0;
    color: white;
    padding: 10px;
}
header li:last-child:hover{
    background-image: var(--custom-gradient);
}
.ri-rocket-2-line{
    margin-right: 5px;
}

/* BANNER */

.banner{
    background-image: linear-gradient(rgb(0, 0, 0,0.8),rgb(0, 0, 0,0.8)),url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.banner-content{
    padding-top: 60px;
}
.banner h2{
    font-size: 75px;
    color: transparent;
    background-image: var(--custom-gradient);
    background-clip: text;
    font-weight: 800;
}
.banner p{
    margin-bottom: 50px;
    max-width: 1100px;    /*media work*/
}
.banner-content a{
    border: 2px solid #5758e0;
    color: white;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg,#576cdd,#4058e0);
}
.banner-content a:hover{
    background-image: var(--custom-gradient) ;
}


/* SERVICE */

.service .service-item{
    height: 310px;
    width: 360px;
    background-color: var(--bg2);
    margin-top: 30px;
    transition: 0.2s;
}
.service .container{
    position: relative;
    z-index: 0;
}
.service .service-item a{
    text-decoration: none;
}
.service-item h2{
    color: white;
    font-size: 28px;
}
.service-item p{
    color: var(--custom-font-color);
    font-size: 20px;
}
.service-icon{
    background-image: var(--custom-gradient);
    color: transparent;
    background-clip: text;
    font-size: 40px;
    line-height: 110px;
}
.ri-arrow-right-circle-line{
    color: var(--custom-font-color);
    font-size: 40px;
    
}
.service-item:hover{
    background-image: var(--custom-gradient);
    transform: translateY(-50px);
   
}
.service-item:hover .service-icon , .service-item h2 , .service-item p{
    color: white;
}

.first:before{
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
    transform: translate(-8px,10px);
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    content: '';
}
.first:hover:before{
    display: none;
    
}

.last:after{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    right: 0px;
    transform: translate(10px,20px);
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    content: '';
}
.last:hover:after{
    opacity: 0;
}


/* ABOUT */

.about .row{
    align-items: center;
}
.about img{
    margin-top: 40px;
}
.about-content{
    margin-top: 10%;
}
.about-content h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

/* PROFFESIONAL */

.proffesional i{
    font-size: 50px;
    color: transparent;
    background-image: var(--custom-gradient);
    background-clip: text;
}
.proffesional h2{
    margin-top: 15px;
    margin-bottom: 20px;
}

/* FEATURES */

.features{
    background-color: #000!important;
}
.accordion {
	--bs-accordion-btn-color: #999999;
	--bs-accordion-btn-bg: #111111;
	--bs-accordion-active-color: #ffffff;
	--bs-accordion-active-bg: #111111;
}
.accordion-item{
    margin-top: 20px;
    border: 0;
}
.accordion-header button{
    font-size: 20px;
}
.accordion-body{
    color: var(--custom-font-color);
}

/* PORTFOLIO */

.portfolio .col-4 .img-1{
background-image: url(../assets/images/portfolio-1.jpg);
background-size: cover;
background-position: center;
transition: 0.2s;
}
.portfolio .col-4 .img-2{
background-image: url(../assets/images/proffesional-image.jpg);
background-size: cover;
background-position: center;
transition: 0.2s;
}
.portfolio .col-4 .img-3{
background-image: url(../assets/images/about-image.jpg);
background-size: cover;
background-position: center;
transition: 0.2s;
}
.portfolio .portfolio-img-content{
text-align: center;
padding-top: 400px;
}

.portfolio .portfolio-img-content h3{
font-size: 28px;
padding-bottom: 50px;
color: white;
opacity: 0;
}

.portfolio .portfolio-img-content p{
font-size: 22px;
padding-bottom: 20px;
color: white;
opacity: 0;
}
.portfolio .col-4 .img-1:hover{
background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../assets/images/portfolio-1.jpg);
background-position: center;
background-size: cover;
transform: translateY(-50px);
}
.portfolio .col-4 .img-2:hover{
background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../assets/images/proffesional-image.jpg);
background-position: center;
background-size: cover;
transform: translateY(-50px);
}
.portfolio .col-4 .img-3:hover{
background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../assets/images/about-image.jpg);
background-position: center;
background-size: cover;
transform: translateY(-50px);
}
.portfolio .col-4 .img-1:hover p, .portfolio .col-4 .img-1:hover h3{
opacity: 1;
}
.portfolio .col-4 .img-2:hover p, .portfolio .col-4 .img-2:hover h3{
opacity: 1;
}
.portfolio .col-4 .img-3:hover p, .portfolio .col-4 .img-3:hover h3{
opacity: 1;
}

/* VIDEO */

.video-inner{
    z-index: 0;
}
.video-inner img{
    height: 400px;
    margin-left: 22%;  /*will need media work*/
    z-index: 0;
}
.ri-play-line{
    z-index: 1;
    font-size: 80px;
    background-image: var(--custom-gradient);
    color: transparent;
    background-clip: text;
    margin-left: -350px;
    transition: 0.2s;
}
.ri-play-line:hover{
    font-size: 150px;
    margin-left: -380px;
}

/* TESTIMONIAL */

.testimonial-inner{
    margin-left: 3%;   /*might need media work*/
}
.testimonial-inner-item{
    height: 360px;
    width: 360px;
    background-color: #191919;
    margin-top: 30px;
}
.testimonial-inner-item img{
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial-inner-item h3{
    color: white;
    margin-top: 10px;
}
.testimonial-inner-item p{
    color: var(--custom-font-color);
    width: 70%;
    font-size: 20px;
    margin: auto;
}
.ri-star-s-line{
    background-image: var(--custom-gradient);
    color: transparent;
    background-clip: text;
    font-size: 30px;
    display: inline-block;
    margin-top: 40px;
}


/* FORM */

.form{
    background-color: #000!important;
}
.form input{
    background-color: transparent;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    border: 1px #999999 solid;
    margin-top: 20px;
}
.form input:placeholder-shown{
    color: var(--custom-font-color);
}
.form button{
    border: 2px solid #5758e0;
    color: white;
    padding: 10px;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,#576cdd,#4058e0);
    margin-top: 20px;
}
.form button:hover{
    background-image: var(--custom-gradient) ;
}
.form-img , .form-img img{
    z-index: 0;
}
.form i{
    z-index: 1;
    position: absolute;
    color: transparent;
    background-image: var(--custom-gradient);
    background-clip: text;
    font-size: 120px;
    bottom: 0;
    right: 0;
    transform: translateX(-20px);
}

/* CONTACT */

.contact .service-item{
    height: 310px;
    width: 360px;
    background-color: var(--bg2);
    margin-top: 30px;
    transition: 0.2s;
}
.contact .container{
    position: relative;
    z-index: 0;
}
.contact .service-item a{
    text-decoration: none;
}
